<h2 class="text-center text-brown">Categorías</h2>
<p class="text-center">Pulse sobre el título de una categoría para acceder a su contenido. Si es un usuario autenticado, puede registrar nuevos ítems y gestionar las localizaciones.</p>

<div class="container">
    <div class="row g-3 text-center">
        <div class="col-sm-6 my-3">
            <div class="card h-100 shadow-lg border-brown">
                <a href="{% url 'books_home' %}" class="text-decoration-none"><h4 class="card-header card-title text-brown-link"><i class="fa-solid fa-book"></i> Literatura</h4></a>
                <div class="card-body">                    
                    <p class="card-text">Libros, tomos, materiales para elaboración de libros, etc.</p>
                </div>
                <div class="card-footer">
                    Items: {{literature_items_count}}
                </div>
            </div>            
        </div>        
        <div class="col-sm-6 my-3">
            <div class="card h-100 shadow-lg border-brown">
                <a href="{% url 'machines_home' %}" class="text-decoration-none"><h4 class="card-header card-title text-brown-link"><i class="fa-solid fa-print"></i> Maquinaria</h4></a>
                <div class="card-body">                    
                    <p class="card-text">Impresoras, computadores, suministros, etc.</p>
                </div>
                <div class="card-footer">
                    Items: {{machinery_items_count}}
                </div>
            </div>
        </div>
        <div class="col-sm-6 my-3">
            <div class="card h-100 shadow-lg border-brown">
                <a href='{% url "unclassified_items_home" %}' class="text-decoration-none"><h4 class="card-header card-title text-brown-link"><i class="fa-solid fa-box"></i> Sin clasificar</h4></a>
                <div class="card-body">                    
                    <p class="card-text">Items del inventario no relacionados con las otras categorías</p>
                </div>
                <div class="card-footer">
                    Items: {{unclassified_items_count}}
                </div>
            </div>
        </div>
        <div class="col-sm-6 my-3">
            <div class="card h-100 shadow-lg border-brown">
                <a href="{% url 'locations_home' %}" class="text-decoration-none"><h4 class="card-header card-title text-purple"><i class="fa-solid fa-warehouse"></i> Localizaciones</h4></a>
                <div class="card-body">                    
                    <p class="card-text">En esta sección, puede gestionar las localizaciones o ubicaciones en el espacio físico. Se debe asignar una localización a todos los ítems registrados.</p>
                </div>
            </div>
        </div>
    </div>
</div>