{% extends 'base/base.html' %} {% load static %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="container-fluid rounded px-5 py-4 bg-white">

    <h1 class="text-brown text-center">{{ title }}</h1>
    <p>
        En esta sección encontrará la información de contacto de las personas
        a cargo, ya sea para hacer consultas o solicitudes. En cada contacto, tendrá a
        su disposición la dirección de correo electrónico, el número telefónico, y los 
        medios por los cuales puede ser contactada cada persona.
    </p>
    <hr class="text-brown">
    <section class="container-fluid px-2">
        <div class="row g-3">
        {% for person in contact_persons %}
            <div class="col-md-6">
                    <h5>{{person.name}}</h5>
                    <p><span class="fw-bold">Rol: </span>{{person.get_role_display}}</p>
                    <p><span class="fw-bold">Email: </span>{{person.email}}</p>
                    <p><span class="fw-bold">Teléfono: </span>{{person.phone_number}}</p>
                <div>
                    <p class="h4">
                        {% if person.phone_available %}
                        <i class="fa-solid fa-phone"></i>
                        {% endif %}
                        {% if person.whatsapp_available %}
                        <i class="fa-brands fa-whatsapp text-success"></i>
                        {% endif %}
                        {% if person.telegram_available %}
                        <i class="fa-brands fa-telegram text-primary"></i>
                        {% endif %}
                    </p>
                </div>
                <hr>
            </div>
        {% endfor %}
        </div>
    </section>
</div>
{% endblock %}