{% extends 'base/base.html' %} {% load static %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<div class="container-fluid rounded px-5 py-4 bg-white">

    <h1 class="text-telegram-blue text-center">{{ title }}</h1>
    <p><span class="text-green"><strong>Regulus Web</strong></span> envía notificaciones por Telegram por medio de un Bot configurado previamente,
        acerca de los ítems creados en en inventario, actualización de stock y creación de registros personalizados en 
        la bitácora. Esto permite que las personas involucradas estén informadas oportunamente de cada cambio realizado en el
        inventario.
    </p>

    <p>Se utiliza Telegram porque esta app es rápida, eficiente y lo suficientemente segura, 
        además de que permite utilizar su API de forma gratuita.</p>

    <p>Para aprovechar esta funcionalidad, se crea un Bot y se determina qué usuario o grupo recibirá las notificaciones.
        Una vez se tiene ambos, se debe contactar al administrador, y luego al programador (o persona capacitada) para registrar
        esos datos en las variables de entorno de <span class="text-green"><strong>Regulus Web</strong></span>.
    </p>

    <p>
        En cualquier caso, si no se configura el Bot ni el usuario/grupo de Telegram, el sistema sigue funcionando
        correctamente,solo que no se enviarán las notificaciones.
    </p>
</div>

{% endblock %}