{% extends 'base/base.html' %} {% load static %}

{% block title %}{{title}}{% endblock title %}

{% block body %}

{% include 'base/base_messages.html' %}

<div class="container-fluid rounded px-5 py-4 bg-white">

    <h1 class="text-center text-green">Regulus Web - Imprenta LDO</h1>

    <hr class="text-brown">
    
    <p>
        Bienvenido(a) a Regulus Web, sistema online para gestionar el inventario de su imprenta. 
        Tendrá a su disposición distintas categorías en las cuales se clasifican los ítems guardados en este inventario.
    </p>
    
    <p>
        La sección de <b>Literatura</b> le permitirá registrar libros, tomos, materiales, accesorios, etc.
    </p>
    
    <p>
        La sección de <b>Maquinaria</b> le permitirá registrar impresoras, insumos, accesorios.
    </p>
    
    <p>
        La sección de <b>Otros ítems</b> le permitirá registrar ítems que no quepan en las secciones anteriores.
    </p>

    <p>
        La sección de <b>Localizacioes</b> muestra las localizaciones registradas en el inventario, donde se
        guardarán los ítems.
    </p>

    <p>
        La sección de <b>Bitácora</b> le permitirá crear registros personalizados.
    </p>
    
    <p>Aunque la web se adapte al tamaño de las pantallas, se recomienda que, si está accediendo desde un móvil o tablet, lo haga en modo horizontal.</p>

</div>

{% endblock body %}