{% if messages %}

<div class="container">
	{% for message in messages %}	
	<div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-{{message.level_tag}}{% endif %} alert-dismissible fade show" role="alert">
		<div class="container">
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>			
			{{message.message}}
		</div>	
	</div>	
	{% endfor %}
</div>
{% endif %}