{% if form.errors %}

<div class="container mt-4">
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		<div class="container">
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>			
			<h5>Hay errores en el formulario:</h5>
			<hr>
			{% for field in form %}
				{% for error in field.errors %}
					<li>
						{% if field != '__all__' %}
							<strong>{{field.label}}:</strong>
						{% endif %}
						{{error}}
					</li>
				{% endfor %}
			{% endfor %}
		</div>	
	</div>	
</div>
{% endif %}