{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-night-sky px-4">
    <div class="container-fluid">
      <a class="navbar-brand text-very-light-green fw-bold" href="{% url 'home_index' %}">
        Regulus - Imprenta LDO
      </a>
    </div>
</nav>