<p>Puede utilizar el siguiente formulario para modificar la mayoría de los campos de este ítem.</p>

<p>Por favor, tenga en cuenta las siguientes consideraciones:</p> 
<ul>
	<li>El stock solo se puede actualizar en el listado, no en esta página.</li>
	<li>Solo un superusuario podrá modificar o eliminar el registro.</li>
</ul>