<aside class="flex container h-100 sidebar-grey px-4 box">  
    <div class="py-4 sticky-top">    
      <span class="fs-4 mx-3 mb-3 mb-md-0 text-white text-decoration-none">Secciones</span>
      <hr class="text-light">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="{% url 'books_home' %}" class="nav-link link-white">
            <i class="fa-solid fa-book"></i> Literatura
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'machines_home' %}" class="nav-link link-white">
            <i class="fa-solid fa-print"></i> Maquinaria
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'unclassified_items_home' %}" class="nav-link link-white">
            <i class="fa-solid fa-box"></i> Otros ítems
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'locations_home' %}" class="nav-link link-white">
            <i class="fa-solid fa-warehouse"></i> Localizaciones
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'logbook_home' %}" class="nav-link link-white">
            <i class="fa-solid fa-clipboard"></i> Bitácora
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'home_contact' %}" class="nav-link link-white">
            <i class="fa-solid fa-envelope"></i> Contacto
          </a>
        </li>
        <hr class="text-light">
        <li class="nav-item px-3">
          {% if  user.is_authenticated %}

          <span class="link-white"><i class="fa-solid fa-circle-user"></i> {{request.user.username}}</span> <a href="{% url 'authentication_logout' %}" id="logoutButton" 
          class="navbar-text text-very-light-green">(Cerrar sesión)</a>

        {% else %}

          <a href="{% url 'authentication_login' %}" class="navbar-text text-very-light-green text-decoration-none">Iniciar sesión</a>
              
        {% endif %}
        </li>
      </ul> 
      
      <hr class="text-light">
      <span class="fs-6 mx-3 mb-3 mb-md-0 text-white text-decoration-none">&copy; {% now "Y" %} - Águila Dev</span>
    </div>
  </aside>
  