{% if user.is_authenticated %}
	<p>
		Para actualizar el stock de un ítem, ingrese el número correspondiente en el campo numérico 
		en la columna <strong>+/-</strong>. Para sumar al  stock, ingrese un número positivo. 
		Para restar al stock, ingrese un número negativo (por ejemplo, <strong>-3</strong> para restar 3). 
		Luego, pulse el botón "Actualizar".
	</p>
	
	<p>
		Con lo anterior, se registrará automáticamente el cambio de stock en la bitácora del ítem, 
		y se enviará una notificación por medio de un Bot de Telegram, en caso de estar configurado.
	</p>
{% endif %}