{% extends 'base/base.html' %} {% load static %}

{% block title %}{{title}}{% endblock title%}

{% block body %}

<div class="container rounded px-5 py-4 bg-white">

	<h1 class="text-center text-green">{{title}}</h1>
	<p>Puede utilizar el siguiente formulario para registrar un nuevo ítem. Solo el campo de descripción es opcional. Los demás campos son obligatorios.</p>

	<hr>

	{% include 'base/base_form_errors.html' %}

	{% include 'unclassified_items/unclassified_item_form.html' %}

</div>

{% endblock body %}
