<form method="post" id='saveForm'>{% csrf_token %}

	<div class="row g-3">
		<div class="col-md-12">
			<label for="name" class="form-label fw-bold">{{form.name.label}}</label>
			{{form.name}}
		</div>
		<div class="col-md-5">
			<label for="location" class="form-label fw-bold">{{form.location.label}}</label>
			{{form.location}}	
		</div>
		<div class="col-md-4">
			<label for="code" class="form-label fw-bold">{{form.code.label}}</label>
			{{form.code}}	
		</div>
		<div class="col-md-3">
			<label for="stock" class="form-label fw-bold">{{form.stock.label}}</label>
			{{form.stock}}
		</div>
	</div>		
	
	<div class="my-3">
		<label for="description">{{form.description.label}}</label>
		{{form.description}}
	</div>		
	
	<hr>
	<a href="javascript:void(0);" class="btn btn-green" id='submitButton'>Guardar</a>
</form>