{% extends 'base/base.html' %}{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block body %}

{% include 'base/base_messages.html' %}

<div class="container-fluid rounded px-5 py-4 mb-3 bg-white">
	<h1 class="text-center text-green">{{title}}</h1>

	<hr class="text-brown">

	<p>
		Esta sección muestra los ítems inventariados que no pertenecen necesariamente a las categorías 
		de Literatura o Maquinaria. Solo un usuario autorizado puede modificar la información de cada registro.
	</p>

	{% include 'base/update_stock_instructions.html' %}

</div>

<div class="container-fluid rounded px-5 py-4 bg-white">

	<h2 class="text-center text-brown">Ítems</h2>
	
	{% include 'unclassified_items/unclassified_items_table.html' %}

	<br>
	<a href="{% url 'new_unclassified_item' %}" class="btn btn-green"><i class="fa-solid fa-plus"></i> Nuevo Ítem</a>
</div>	


{% endblock body %}