{% extends 'base/base.html' %}{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block body %}

{% include 'base/base_messages.html' %}

<div class="container-fluid rounded border px-5 py-4 bg-white">
	<h1 class="text-center text-green">{{title}}</h1>
	<p>
		Esta sección permite ver las Categorías de Libros registradas. 
		Antes de registrar libros, un superusuario debe crear Categorías en el 
		Panel de Administración.
	</p>

	<hr class="text-brown">

	<h2 class="text-center text-brown">Categorías registradas</h2>
		
	{% include 'books/book_categories_table.html' %}	

	<br>

	<a href="{% url 'books_home' %}" class="btn btn-brown">Volver</a>

</div>


{% endblock body %}