{% extends 'base/base.html' %} {% load static %}

{% block title %}{{title}}{% endblock title%}

{% block body %}

<div class="container-fluid rounded border px-5 py-4 bg-white">

	<h1 class="text-center text-green">{{title}}</h1>
	<p>Puede utilizar el siguiente formulario para registrar nuevo material para elaboración de libros. Los campos con el nombre ennegrecido son obligatorios.</p>

	<hr>

	{% include 'base/base_form_errors.html' %}

	{% include 'books/book_material_form.html' %}

</div>

{% endblock body %}