<div class="table-responsive">
	<table class="table responsive display dataTable">
		<thead>
			<tr>
				<th scope="col">Nombre</th>
				{% if user.is_authenticated %}
				<th scope="col">Localización</th>
				{% endif %}
				<th scope="col">Stock</th>
				{% if user.is_authenticated %}
				<th scope="col">+/-</th>
				<th scope="col">Actualizar</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for book_material in book_materials %}
				<tr>
					<td>
						<a href="{% url 'books_book_material_detail' book_material.slug %}" class="text-dark-green-link">{{book_material.name}}</a>
					</td>
					{% if user.is_authenticated %}
					<td>{{book_material.location.name}}</td>
					{% endif %}
					<td>{{book_material.stock}}</td>
					{% if user.is_authenticated %}
					<form method="post" action="{% url 'update_book_material_stock' book_material.slug %}" id="secondUpdateForm">{% csrf_token %}
						<input type="hidden" name="book_material_id" value="{{book_material.id}}">
						<td>
							<input type="number" name="stock_update" class="form-control w-80" value=0>
						</td>
						<td>
							<button type="submit" class="btn btn-brown btn-sm">Actualizar</button>
						</td>
					</form>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>