<div class="table-responsive">
	<table class="table responsive display dataTable">
		<thead>
			<tr>
				<th scope="col">Nombre</th>
				<th scope="col">Cant. de Libros</th>
			</tr>
		</thead>
		<tbody>
			{% for book_category in book_categories %}
				<tr>
					<td>{{book_category.name}}</td>
					<td>{{book_category.book_count}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
