{% extends 'base/base.html' %}{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block body %}

{% include 'base/base_messages.html' %}

<div class="container-fluid rounded border px-5 py-4 bg-white mb-3">
	<h1 class="text-center text-green">{{title}}</h1>

	<hr class="text-brown">

	<p>
		Esta sección permite gestionar <b>Libros</b> y <b>Materiales para libros</b> en el inventario. 
		Es posible para un visitante ver información general de los ítems en las tablas correspondientes, 
		pero solo los usuarios autorizados pueden acceder a información más discreta y modificarla.
	</p>

	{% if user.is_authenticated %}

	{% include "base/update_stock_instructions.html" %}

	{% endif %}

</div>

<div class="container-fluid rounded border px-5 py-4 bg-white mb-3">

	<h2 class="text-center text-brown">Libros</h2>
	
	{% include 'books/books_table.html' %}	

	<br>
	<a href="{% url 'books_new_book' %}" class="btn btn-green"><i class="fa-solid fa-plus"></i> Nuevo Libro</a>
	&nbsp;
	<a href="{% url 'books_book_categories' %}" class="btn btn-brown">Ver Categorías</a>
			
</div>

<div class="container-fluid rounded border px-5 py-4 bg-white">

	<h2 class="text-center text-brown">Materiales para libros</h2>
	{% include 'books/book_materials_table.html' %}

	<br>

	<a href="{% url 'books_new_book_material' %}" class="btn btn-green"><i class="fa-solid fa-plus"></i> Nuevo Material</a>

</div>


{% endblock body %}