{% extends 'base/base.html' %} {% load static %}

{% block title %}{{title}}{% endblock title%}

{% block body %}

<div class="container rounded shadow border px-5 py-4 my-3 bg-white">

	<h1 class="text-center text-green">{{title}}</h1>
	<p>Puede utilizar el siguiente formulario para registrar una Categoría de Libros.</p>

	{% include 'base/base_form_errors.html' %}

	<form method="post" id='saveForm'>{% csrf_token %}

		<label for="name" class="form-label">{{form.name.label}}</label>
		{{form.name}}
		<br>
		<a href="javascript:void(0);" class="btn btn-green" id='submitButton'>Guardar</a>

	</form>

</div>

{% endblock body %}