{% extends 'base/base.html' %} {% load static %}

{% block title %}{{title}}{% endblock title%}

{% block body %}

<div class="container-fluid rounded border px-5 py-4 mb-3 bg-white">

	<h1 class="text-center text-green">{{title}}</h1>

	<p>
		Esta página muestra los principales datos del registro seleccionado, y en la parte de abajo,
		una tabla con la bitácora automática.
	</p>
	<p>
		No es posible modificar los datos del registro una vez que se ha creado, a menos que
		un superusuario lo haga. No obstante, está la posibilidad de eliminar el libro, en caso de 
		que se quiera crear otra vez en (por ejemplo, si hubo un error tipográfico) si nunca se ha modificado el stock.
	</p>

	<hr>

	<div class="row g-3">
		<div class="col-md-6">
			<p><span class="fw-bold">Nombre: </span>{{book_material.name}}</p>
		</div>
		<div class="col-md-6">
			<p><span class="fw-bold">Código: </span>{{book_material.code}}</p>	
		</div>
		<div class="col-md-6">
			<p><span class="fw-bold">Localización: </span>{{book_material.location.name}}</p>	
		</div>		
		<div class="col-md-6">
			<p><span class="fw-bold">Stock: </span>{{book_material.stock}}</p>	
		</div>
	</div>	
	
	<div class="my-3">
		<p><b>Descripción</b></p>
		<p>
			{% if not book_material.description %}
			Sin datos
			{% else %}
			{{book_material.description}}
			{% endif %}
		</p>
	</div>			
	
	<hr>
	<a href="{% url 'books_home' %}" class="btn btn-purple">Volver</a>

</div>

<div class="container-fluid rounded border px-5 py-4 bg-white">

	<h2 class="text-center text-brown">Bitácora</h2>

	{% include 'logbook/logs_table.html' %}

</div>

{% endblock body %}