{% extends 'base/base.html' %} {% load static %}

{% block title %}{{title}}{% endblock title%}

{% block body %}

<div class="container-fluid rounded border px-5 py-4 bg-white">

	<h1 class="text-center text-green">{{title}}</h1>
	<p>
		Puede utilizar el siguiente formulario para registrar un nuevo libro. Los campos con el nombre 
		ennegrecido son obligatorios. Los demás campos son opcionales.
	</p>
	<p>
		<b>NOTA: </b>Revise bien los datos ingresados, ya que solo los superusuarios los podrán modificar después.
	</p>

	<hr>

	{% include 'base/base_form_errors.html' %}

	{% include 'books/book_form.html' %}

</div>

{% endblock body %}
