<div class="table-responsive">
	<table class="table responsive display dataTable">
		<thead>
			<tr>
				<th scope="col">Título</th>
				{% if user.is_authenticated %}
				<th scope="col">Código</th>
				<th scope="col">Localización</th>
				{% endif %}
				<th scope="col">Stock</th>
				{% if user.is_authenticated %}
				<th scope="col">+/-</th>
				<th scope="col">Actualizar</th>
				{% endif %}		
			</tr>
		</thead>
		<tbody>
			{% for book in books %}
				<tr>
					<td>
						<a href="{% url 'books_book_detail' book.slug %}" class="text-dark-green-link">{{book.name}}</a>
					</td>
					{% if user.is_authenticated %}
					<td>{{book.code}}</td>
					<td>{{book.location.name}}</td>
					{% endif %}
					<td>{{book.stock}}</td>
					{% if user.is_authenticated %}
						<form method="post" action="{% url 'update_book_stock' book.slug %}" id="updateForm">{% csrf_token %}
							<input type="hidden" name="book_id" value="{{book.id}}">
							<td>
								<input type="number" name="stock_update" class="form-control w-80" value=0>
							</td>
							<td>
								<button type="submit" class="btn btn-brown btn-sm">Actualizar</button>
							</td>
						</form>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% comment %}




{% endcomment %}