<form method="post" id='saveForm'>{% csrf_token %}

	<div class="row g-3">
		<div class="col-md-6">
			<label for="book_category" class="form-label fw-bold">{{form.book_category.label}}</label>
			{{form.book_category}}
		</div>
		<div class="col-md-6">
			<label for="location" class="form-label fw-bold">{{form.location.label}}</label>
			{{form.location}}	
		</div>
		<div class="col-md-8">
			<label for="name" class="form-label fw-bold">{{form.name.label}}</label>
			{{form.name}}
		</div>
		<div class="col-md-4">
			<label for="code" class="form-label fw-bold">{{form.code.label}}</label>
			{{form.code}}	
		</div>
		<div class="col-md-3">
			<label for="stock" class="form-label fw-bold">{{form.stock.label}}</label>
			{{form.stock}}
		</div>
		<div class="col-md-3">
			<label for="part" class="form-label">{{form.part.label}}</label>
			{{form.part}}
		</div>
		<div class="col-md-2">
			<label for="year" class="form-label">{{form.year.label}}</label>
			{{form.year}}
		</div>
		<div class="col-md-4">
			<label for="month" class="form-label">{{form.month.label}}</label>
			{{form.month}}
		</div>
	</div>		
	
	<div class="my-3">
		<label for="description" class="form-label">{{form.description.label}}</label>
		{{form.description}}
	</div>		
	
	<hr>
	<a href="javascript:void(0);" class="btn btn-green" id='submitButton'>Guardar</a>
</form>