:root {
	--bg-grey: #c2c2c2;
	--bg-blue: #667BAD;
	--dark-blue: #0C3C73;
	--green: #10ab72;
	--dark-green: #054A18;
	--light-green: #5FC695;
	--very-light-green: #C7E3D2;
	--purple: #943750;
	--orange: #E37F1C;
	--sidebar-grey: #2c2c2c;
	--text-grey: #C0C0C0;
	--bg-brown: #806652;
	/*--border-brown: #D6B499;*/
	--border-brown: rgba(214, 180, 153, 0.5);
	--navbar-black: #08100F;
	--telegram-blue: #0088CC;
}

@font-face {
    font-family: delius-swash-caps-regular;
    src: url(DeliusSwashCaps-Regular.ttf);
}

@font-face {
    font-family: rosarivo-regular;
    src: url(Rosarivo-Regular.ttf);
}

h1, h2, h3 {
	font-family: 'rosarivo-regular', cursive;
    font-weight: 700;
}

p, h5 {
	font-family: monospace;
}

body {
	background-color: var(--bg-grey);
}

/*.dataTable th:first-child,
.dataTable td:first-child {
	width: 40%;
}*/

.bg-night-sky { 
	background-color: #000;
  	background-image: linear-gradient(to right, #001f3f, #021f3b, #082038, #0b314d, #083249);
}

.card-title {
	font-family: 'rosarivo-regular', cursive;
    font-weight: 400;
}

.navbar-green {
	background-color: var(--navbar-green);
}

.navbar-black {
	background-color: var(--navbar-black);
}

.link-white {
	transition: ease 0.3s;
	color: white;
}

.link-white:hover {
	color: var(--very-light-green);
	text-shadow: 0 0 24px var(--very-light-green);
}

.text-dark-blue {
	color: #0C3C73;
}

.text-dark-blue-link {
	transition: 0.3s color ease;
	color: #0C3C73;
	text-decoration: none;
}

.text-dark-blue-link:hover {
	color: #E88D24;
}

.bg-dark-blue {
	background-color: #0C3C73;
}

.btn-dark-blue {
	transition: 0.3s background-color border-color color ease;
	background-color: var(--dark-blue);
	border-color: var(--dark-blue);
	color: white;
}

.btn-dark-blue:hover {
	background-color: white;
	border-color: var(--dark-blue);
	color: var(--dark-blue);
}

.bg-brown {
	background-color: var(--bg-brown);
}

.text-orange {
	color: var(--orange);
}

.bg-orange {
	background-color: #E88D24;
}

.btn-orange {
	transition: 0.3s background-color color ease;
	background-color: #E88D24;
	color: white;
}

.btn-orange:hover {
	background-color: #73430C;
	color: white;
}


.btn-brown {
	transition: 0.3s background-color ease;
	background-color: #73430C;
	color: white;
}

.btn-brown:hover {
	background-color: var(--orange);
	color: white;
}

.text-brown {
	color: var(--bg-brown);
}

.text-brown-link {
	transition: 0.3s color ease;
	color: #73430C;
	text-decoration: none;
}

.text-brown-link:hover {
	color: #E88D24;
}

.border-brown {
	border: 1px solid var(--border-brown);
	border-radius: 10px;
	transition: box-shadow 0.3s;
}

.border-brown:hover {
	box-shadow: 0 0 10px var(--orange);
}

.border-blue {
	border-color: #0F729C;
	border-width: 5px;
}

.full-height {
	height: 100vh;
}

.w-80 {
	max-width: 80px;
}

.sidebar-grey {
	background-color: var(--sidebar-grey);
}

.link-grey {
	color: var(--text-grey);
	transition: 0.3s ease color;
}

.link-grey:hover {
	color: white;
}

.link-grey-green {
	color: var(--text-grey);
	transition: 0.3s ease color;
}

.link-grey-green:hover {
	color: var(--green);
}

.link-grey-orange {
	color: var(--text-grey);
	transition: 0.3s ease color;
}

.link-grey-orange:hover {
	color: var(--orange);
}

.link-grey-purple {
	color: var(--text-grey);
	transition: 0.3s ease color;
}

.link-grey-purple:hover {
	color: var(--purple);
}

.link-grey-blue {
	color: var(--text-grey);
	transition: 0.3s ease color;
}

.link-grey-blue:hover {
	color: royalblue;
}

.text-green {
	color: var(--green);
}

.text-light-green {
	color: var(--light-green);
	text-decoration: none;
}

.text-very-light-green {
	color: var(--very-light-green);
	transition: 0.5s ease;
	text-decoration: none;
}

.text-very-light-green:visited {
	color: var(--very-light-green);
}

.text-very-light-green:hover {
	text-shadow: 0 0 12px white;
	color: var(--very-light-green);
}

.text-dark-green-link {
	color: var(--dark-green);
	text-decoration: none;
	transition: 0.3s ease color;
}

.text-dark-green-link:hover {
	color: var(--orange);
}

.bg-green {
	background-color: var(--green);
}

.btn-green {
	transition: 0.3s ease background-color;
	background-color: var(--green);
	color: white;
}

.btn-green:hover {
	background-color: var(--orange);
	color: white;
}

.text-purple {
	color: var(--purple);
}

.border-purple {
	border-style: solid;
	border-color: var(--purple);
	border-width: 1px;
}

.btn-purple {
	transition: 0.3s ease background-color;
	background-color: var(--purple);
	color: white;
}

.btn-purple:hover {
	background-color: var(--orange);
	color: white;
}

.text-telegram-blue {
	color: var(--telegram-blue);
}

.nav-link-white {
	transition: 0.3s ease color;
	color: white;
	text-decoration: none;
}

.nav-link-white:hover {
	color: var(--purple);
	text-decoration: none;
}