<div class="table-responsive">
	<table class="table responsive display dataTable">
		<thead>
			<tr>
				<th scope="col">Nombre</th>
				<th scope="col">Cant. de Registros</th>
			</tr>
		</thead>
		<tbody>
			{% for brand in brands %}
				<tr>
					<td>{{brand.name}}</td>
					<td>{{brand.item_count}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
