<form method="post" id='saveForm'>{% csrf_token %}

	<div class="row g-3">
		<div class="col-md-4">
			<label for="location" class="form-label fw-bold">{{form.location.label}}</label>
			{{form.location}}	
		</div>
		<div class="col-md-4">
			<label for="brand" class="form-label">{{form.brand.label}}</label>
			{{form.brand}}	
		</div>
		<div class="col-md-4">
			<label for="model" class="form-label">{{form.model.label}}</label>
			{{form.model}}	
		</div>
		<div class="col-md-6">
			<label for="name" class="form-label fw-bold">{{form.name.label}}</label>
			{% if logs.count < 2 %}
			{{form.name}}
			{% else %}
			<p>{{machine.name}}</p>	
			{{form.name.as_hidden}}
			{% endif %}
		</div>
		<div class="col-md-3">
			<label for="code" class="form-label fw-bold">{{form.code.label}}</label>
			{{form.code}}	
		</div>
		<div class="col-md-3">
			<label for="stock" class="form-label fw-bold">{{form.stock.label}}</label>
			<p>{{machine.stock}}</p>
			{{form.stock.as_hidden}}
		</div>
	</div>		
	
	<div class="my-3">
		<label for="description" class="form-label">{{form.description.label}}</label>
		{{form.description}}
	</div>		
	
	<hr>
	<a href="javascript:void(0);" class="btn btn-green" id='updateInfoButton'>Guardar cambios</a>
	&nbsp;
	<a href="{% url 'machines_home' %}" class="btn btn-purple">Volver</a>
	{% if logs.count < 2 %}
	&nbsp;
	<a href="{% url 'machines_delete_machine' machine.slug %}" id="deleteButton" class="btn btn-danger">Eliminar</a>
	{% endif %}
</form>