{% extends 'base/base.html' %} {% load static %}

{% block title %}{{title}}{% endblock title%}

{% block body %}

<div class="container rounded shadow border px-5 py-4 my-3 bg-white">

	<h1 class="text-center text-green">{{title}}</h1>
	<p>Puede utilizar el siguiente formulario para registrar una nueva máquina. Los campos con el nombre ennegrecido son obligatorios. Los demás campos son opcionales</p>

	<hr>

	{% include 'base/base_form_errors.html' %}

	{% include 'machines/machine_form.html' %}

</div>

{% endblock body %}