{% extends 'base/base.html' %}{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block body %}

{% include 'base/base_messages.html' %}

<div class="container-fluid rounded px-5 py-4 mb-3 bg-white">
	<h1 class="text-center text-green">{{title}}</h1>

	<hr class="text-brown">

	<p>
		Esta sección permite gestionar las <strong>Máquinas</strong> y los <strong>Suministros para Máquinas</strong> en el inventario. 
		Es posible para un visitante ver información general de los ítems en las tablas correspondientes, pero solo los usuarios 
		autorizados pueden acceder a información más discreta y modificarla.
	</p>

	{% include 'base/update_stock_instructions.html' %}

</div>

<div class="container-fluid rounded px-5 py-4 mb-3 bg-white">

	<h2 class="text-center text-brown">Máquinas</h2>
	
	{% include 'machines/machines_table.html' %}

	<br>
	<a href='{% url "machines_new_machine" %}' class="btn btn-green"><i class="fa-solid fa-plus"></i> Nueva Máquina</a>
	&nbsp;
	<a href='{% url "machines_brands" %}' class="btn btn-brown">Ver marcas</a>
			
</div>	

<div class="container-fluid rounded px-5 py-4 bg-white">

	<h2 class="text-center text-brown">Suministros</h2>
	
	{% include 'machines/machines_supplies_table.html' %}

	<br>
	<a href='{% url "machines_new_machines_supply" %}' class="btn btn-green"><i class="fa-solid fa-plus"></i> Nuevo suministro</a>
			
</div>	


{% endblock body %}