<div class="table-responsive">
	<table class="table responsive display dataTable">
		<thead>
			<tr>
				<th scope="col">Nombre</th>
				{% if user.is_authenticated %}
				<th scope="col">Código</th>
				<th scope="col">Localización</th>	
				{% endif %}
				<th scope="col">Stock</th>
				{% if user.is_authenticated %}
				<th scope="col">+/-</th>	
				<th scope="col">Actualizar</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for machines_supply in machines_supplies %}
				<tr>
					<td>
						<a href="{% url 'machines_machines_supply_detail' machines_supply.slug %}" class="text-dark-green-link">{{machines_supply.name}}</a>
					</td>
					{% if user.is_authenticated %}
					<td>{{machines_supply.code}}</td>
					<td>{{machines_supply.location.name}}</td>
					{% endif %}
					<td>{{machines_supply.stock}}</td>
					{% if user.is_authenticated %}
					<form method="post" action="{% url 'update_machines_supply_stock' machines_supply.slug %}" id="secondUpdateForm">{% csrf_token %}
						<input type="hidden" name="machines_supply_id" value="{{machines_supply.id}}">
						<td>
							<input type="number" name="stock_update" class="form-control w-80" value=0>
						</td>
						<td>
							<button type="submit" id="secondUpdateStockButton" class="btn btn-brown btn-sm">Actualizar</button>
						</td>
					</form>
					{% endif %}					
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>