{% extends 'base/base.html' %} {% load static %}

{% block title %}{{title}}{% endblock title%}

{% block body %}

<div class="container-fluid rounded px-5 py-4 mb-3 bg-white">

	<h2 class="text-center text-green">{{title}} "{{machine.name}}"</h2>
	
	<hr class="text-brown">

	<p>
		Esta página muestra los principales datos del registro seleccionado, y en la parte de abajo,
		una tabla con la bitácora automática.
	</p>
	<p>
		No es posible modificar los datos del registro una vez que se ha creado, a menos que
		un superusuario lo haga, y un usuario normal puede eliminarlo (por ejemplo, si lo registró con un 
		error tipográfico) solo si nunca se ha actualizado el stock.
	</p>

	<hr class="text-brown">

	<div class="row g-3 mb-3">
		<div class="col-md-6">
			<p><span class="fw-bold">Nombre: </span>{{machine.name}}</p>
		</div>
		<div class="col-md-6">
			<p><span class="fw-bold">Código: </span>{{machine.code}}</p>	
		</div>
		<div class="col-md-6">
			<p>
				<span class="fw-bold">Marca: </span>
				{% if machine.brand.name %}
				{{machine.brand.name}}
				{% else %}
				No registrada
				{% endif %}
			</p>
		</div>
		<div class="col-md-6">
			<p><span class="fw-bold">Modelo: </span>
				{% if machine.model %}
				{{machine.model.name}}
				{% else %}
				No registrado
				{% endif %}
			</p>	
		</div>
		<div class="col-md-6">
			<p><span class="fw-bold">Localización: </span>{{machine.location.name}}</p>
		</div>
		<div class="col-md-6">
			<p><span class="fw-bold">Stock: </span>{{machine.stock}}</p>
		</div>
	</div>		
	
	<div class="col-md-12">
		<p><b>Descripción</b></p>
		<p>
			{% if not machine.description %}
			Sin datos
			{% else %}
			{{machine.description}}
			{% endif %}
		</p>
	</div>

	<hr class="text-brown">
	<a href="{% url 'machines_home' %}" class="btn btn-purple">Volver</a>
	{% if logs.count < 2 %}
	&nbsp;
	<a href="{% url 'machines_delete_machine' machine.slug %}" id="deleteButton" class="btn btn-danger">Eliminar</a>
	{% endif %}

</div>

<div class="container-fluid rounded px-5 py-4 mb-3 bg-white">

	<h2 class="text-center text-brown">Bitácora</h2>

	{% include 'logbook/logs_table.html' %}

</div>

{% endblock body %}