<div class="table-responsive">
	<table class="table responsive display dataTable">
		<thead>
			<tr>
				<th scope="col">Nombre</th>
				{% if user.is_authenticated %}
				<th scope="col">Código</th>
				<th scope="col">Localización</th>
				{% endif %}
				<th scope="col">Stock</th>
				{% if user.is_authenticated %}
				<th scope="col">+/-</th>	
				<th scope="col">Actualizar</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for machine in machines %}
				<tr>
					<td>
						<a href="{% url 'machines_machine_detail' machine.slug %}" class="text-dark-green-link">{{machine.name}}</a>
					</td>
					{% if user.is_authenticated %}
					<td>{{machine.code}}</td>
					<td>{{machine.location.name}}</td>
					{% endif %}
					<td>{{machine.stock}}</td>
					{% if user.is_authenticated %}
					<form method="post" action="{% url 'update_machine_stock' machine.slug %}" id="updateForm">{% csrf_token %}
						<input type="hidden" name="machine_id" value="{{machine.id}}">
						<td>
							<input type="number" name="stock_update" class="form-control w-80" value=0>
						</td>
						<td>
							<button type="submit" class="btn btn-brown btn-sm">Actualizar</button>
						</td>
					</form>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>