{% extends 'base/base.html' %}{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block body %}

{% include 'base/base_messages.html' %}

<div class="container-fluid rounded px-5 py-4 bg-white">
	<h1 class="text-center text-green">{{title}}</h1>
	<p>Esta sección permite gestionar las Marcas para la maquinaria y suministros. Es posible crear marcas; renombrar una ya existente pulsando el botón <span class="text-brown"><i class="fa-regular fa-pen-to-square"></i> Modificar</span> del registro correspondiente; y eliminar una marca <strong>solo si no tiene registros asociados.</strong></p>

	<hr class="text-brown">

	<h2 class="text-center text-brown">Marcas registradas</h2>
		
	{% include 'machines/brands_table.html' %}	

	<br>
	
	<a href="{% url 'machines_home' %}" class="btn btn-brown">Volver</a>		

</div>


{% endblock body %}