<form method="post" id='saveForm'>{% csrf_token %}

	<div class="row g-3">
		<div class="col-md-6">
			<label for="log_type" class="form-label fw-bold">{{form.log_type.label}}</label>
			{{form.log_type}}
		</div>
		<div class="col-md-6">
			<label for="priority" class="form-label fw-bold">{{form.priority.label}}</label>
			{{form.priority}}	
		</div>
	</div>		
	
	<div class="my-3">
		<label for="description" class="form-label fw-bold">{{form.description.label}}</label>
		{{form.description}}
	</div>		
	
	<hr>
	<a href="javascript:void(0);" class="btn btn-green" id='submitButton'>Guardar</a>
</form>