{% load tz %}
<div class="table-responsive">
	<table class="table responsive display dataTable">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Creación</th>
				<th scope="col">Tipo</th>	
				<th scope="col">Prioridad</th>
				<th scope="col">Creado por</th>
			</tr>
		</thead>
		<tbody>
			{% for log in custom_logs %}
				<tr>
					<td>
						<a href="{% url 'logbook_custom_log_detail' log.id %}" class="text-dark-green-link">
							{{log.id}}
						</a>
					</td>
					<td>{{log.created_on}}</td>
					<td>{{log.log_type.name}}</td>
					<td>{{log.get_priority_display}}</td>
					<td>{{log.user.first_name}} {{log.user.last_name}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>