{% extends 'base/base.html' %}{% load static %}{% load tz %}

{% block title %}{{title}}{% endblock title %}

{% block body %}

{% include 'base/base_messages.html' %}

<div class="container-fluid rounded px-5 py-4 bg-white mb-3">
	<h1 class="text-center text-green">{{title}}</h1>
	<p>Cada uno de los ítems registrados en el inventario de Regulus tiene su propia bitácora, así que, para buscar un registro, se debe buscar en el ítem correspondiente. Sin embargo, está disponible esta sección que permite crear <strong>Registros personalizados</strong>, para uso interno. Solo los usuarios autorizados tienen acceso a esta sección.</p>	

</div>


<div class="container-fluid rounded px-5 py-4 bg-white mb-3">

	<h2 class="text-center text-brown">Registros</h2>

	{% include 'logbook/custom_logs_table.html' %} 
	
	<br>

	<a href="{% url 'logbook_new_custom_log' %}" class="btn btn-green">
		Nuevo registro
	</a>

</div>

{% if user.is_superuser %}

<div class="container-fluid rounded border px-5 py-4 bg-white">

	<h2 class="text-center text-brown">Registros archivados</h2>

	{% include 'logbook/archived_custom_logs_table.html' %}
	
	<br>

</div>
{% endif %}


{% endblock body %}