{% extends 'base/base.html' %} {% load static %}

{% block title %}{{title}}{% endblock title%}

{% block body %}

<div class="container-fluid rounded px-5 py-4 bg-white">

	<h1 class="text-center text-green">{{title}}</h1>
	<p>Puede utilizar el siguiente formulario para crear un nuevo Registro personalizado en la Bitácora. Todos los campos son obligatorios.</p>

	<p><strong>Revise bien antes de guardar</strong>, ya que el registro no podrá modificarse posteriormente.</p>

	<hr>

	{% include 'base/base_form_errors.html' %}

	{% include 'logbook/custom_log_form.html' %}

</div>

{% endblock body %}
