{% extends 'base/base.html' %} {% load static %}

{% block title %}{{title}}{% endblock title%}

{% block body %}

<div class="container-fluid rounded border px-5 py-4 bg-white">

	<h2 class="text-center text-green">{{title}} <span class="text-brown">{{custom_log.id}}</span></h2>

	<hr class="text-brown">

	<div class="row g-3">
		<div class="col-md-6">
			<p><span class="fw-bold">ID: </span>{{custom_log.id}}</p>	
		</div>
		<div class="col-md-6">
			<p><span class="fw-bold">Tipo: </span>{{custom_log.log_type.name}}</p>		
		</div>
		<div class="col-md-6">
			<p><span class="fw-bold">Prioridad: </span>{{custom_log.get_priority_display}}</p>		
		</div>
		<div class="col-md-6">
			<p><span class="fw-bold">Creación:</span>{{custom_log.created_on}}</p>			
		</div>
		<div class="col-md-6">
			<p><span class="fw-bold">Creado por: </span>{{custom_log.user.first_name}} {{custom_log.user.last_name}}</p>		
		</div>
		<div class="col-md-6">
			<p>
				<span class="fw-bold">Estado: </span>
				{% if custom_log.is_archived %}
				<span class="text-danger">Archivado</span>
				{% else %}
				<span class="text-success">Visible</span>
				{% endif %}
			</p>		
		</div>
		<div class="col-12">
			<label class="form-label fw-bold">Descripción:</label>
			<p>{{custom_log.description}}</p>
		</div>
	</div>

	<hr>

	{% if user.is_superuser %}
	<p>Los superusuarios pueden archivar o desarchivar este registro de ser necesario.</p>
		{% if custom_log.is_archived %}
			<a href="{% url 'logbook_switch_custom_log_archived_status' custom_log.id %}" id="unarchiveButton" class="btn btn-green">Desarchivar</a>
		{% else %}
			<a href="{% url 'logbook_switch_custom_log_archived_status' custom_log.id %}" id="archiveButton" class="btn btn-purple">Archivar</a>
		{% endif %}
	{% endif %}

</div>

{% endblock body %}