<div class="table-responsive">
	<table class="table responsive display dataTable">
		<thead>
			<tr>
				<th scope="col">Fecha/hora</th>
				<th scope="col">Tipo</th>
				<th scope="col">Stock previo</th>
				<th scope="col">Stock nuevo</th>
				<th scope="col">Usuario</th>
			</tr>
		</thead>
		<tbody>
			{% for log in logs %}
				<tr>
					<td>{{log.created_on}}</td>
					<td>{{log.get_log_type_display}}</td>
					<td>{{log.previous_stock}}</td>
					<td>{{log.updated_stock}}</td>
					<td>{{log.user}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>