{% extends "base/base.html" %}{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block body %}

{% include 'base/base_messages.html' %}

<div class="container-fluid rounded px-5 py-4 bg-white">

	<h2 class="text-center text-green">{{title}}</h2>

	<hr>

	<p>Se requiere iniciar sesión para acceder a ciertas páginas de este sistema, o para realizar cambios importantes. Ingrese sus credenciales en este formulario para continuar.</p>

	{% include 'base/base_form_errors.html' %}

	{% include 'authentication/login_form.html' %}

</div>

{% endblock body %}