<form method="post">{% csrf_token %}

	<div class="row g-2">
		<div class="col-md-6">
			<label for="username" class="form-label fw-bold">{{form.username.label}}</label>
			{{form.username}}
		</div>
		<div class="col-md-6">
			<label for="password" class="form-label fw-bold">{{form.password.label}}</label>
			{{form.password}}	
		</div>
	</div>	
	
	<hr>
    <button type="submit" class="btn btn-green">Iniciar sesión</button>
	<!-- <a href="javascript:void(0);" class="btn btn-green">Iniciar sesión</a> -->
</form>