{% load static %}

<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<!-- CSS propio -->
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<div class="container p-4 my-4 bg-white rounded">
    <h1>Página no encontrada</h1>
    <p>La ruta no es válida. Verifique que esté escrita correctamente y vuelva a intentar</p>
</div>
