{% extends 'base/base.html' %} {% load static %}

{% block title %}{{title}} {{location.name}}{% endblock title %}

{% block body %}

<div class="container rounded shadow border px-5 py-4 my-3 bg-white">

	<h1 class="text-center text-green">{{title}} "{{location.name}}"</h1>
	<p>Puede renombrar la localización seleccionada con este formulario. Si la categoría está vacía, tendrá la opción de eliminarla igualmente.</p>

	{% include 'base/base_form_errors.html' %}

	<form method="post" id='saveForm'>{% csrf_token %}

		<label for="name" class="form-label">{{form.name.label}}</label>
		{{form.name}}
		<br>
		<a href="javascript:void(0);" class="btn btn-green" id='submitButton'><i class="fa-regular fa-pen-to-square"></i> Guardar cambios</a>
		{% if item_count == 0 %}
		&nbsp;
		<a href="{% url 'locations_delete_location' location.slug %}" id="deleteButton" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i> Eliminar</a>
		{% endif %}

	</form>

</div>

{% endblock body %}