<div class="table-responsive">
	<table class="table responsive display dataTable">
		<thead>
			<tr>
				<th scope="col">Nombre</th>
				<th scope="col">Items</th>
			</tr>
		</thead>
		<tbody>
			{% for location in locations %}
				<tr>
					<td>{{location.name}}</td>
					<td>{{location.item_count}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
