{% extends 'base/base.html' %}{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block body %}

{% include 'base/base_messages.html' %}

<div class="container-fluid rounded border px-5 py-4 bg-white">
	<h1 class="text-center text-green">{{title}}</h1>

	<hr class="text-brown">

	<p>En esta sección, puede gestionar las localizaciones o ubicaciones en el espacio físico. Se debe asignar una localización a todos los ítems registrados.</p>

	<hr class="text-brown">
	
	<h2 class="text-center text-purple">Localizaciones registradas</h2>
		
	{% include 'locations/locations_table.html' %}	

</div>


{% endblock body %}